* {
background-color:olive;
/* height: 800px; */
}
.websiteTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 50px;
    text-transform:uppercase;
    text-align: center;
    color: rgb(141, 24, 33);       
}
.poster {
    width: fit-content;
    height: fit-content;    
    padding: 10px;
    position: relative; 
}
#movie1 {
    position: relative;
    left: 150px;
}
#movie2 {
    position: relative;
    top: -877px;
    left: 900px;
}
.grade, .tickets {
    color: white;
    font-size: 40px;
    padding: 15px;
    width: fit-content;    
}
.grade {
    position: absolute;
    top: 70px;
    left: 30px;
}
.positive {
    background-color: rgb(59,179,58);
}
.negative {
    background-color: rgb(255,0,0);
}
.tickets {
    background-color: rgb(255,86,0);
    position: absolute;
    bottom: 50px;
    right: 30px;
}